@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500;600&family=Play:wght@400;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Play:wght@400;700&family=Sora:wght@200;300;400;600&family=Yuji+Syuku&display=swap');

@import 'swiper/css';

@import 'bootstrap';
@import 'swiper/css';

.navbar {
  color: #fdfdfd;
  padding: 5px;
}
header {
  background: rgb(104, 59, 150);
  /*background-color: #573280;*/
  color: #fdfdfd;
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-bottom: 30px;
}
.nav-item,
.nav-item-contacto,
.nav-item-inicio {
  padding: 0px 0px 5px 20px;
}
.nav-item-carrito {
  margin-left: auto;
}
.me-auto {
  margin-right: auto;
}
.icono {
  width: 50px;
  height: 40px;
  padding-right: 10px;
}
.fa-cart-shopping {
  color: #e8dbe5;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 0%;
  height: 50% !important;
}
.swiper-button-next {
  color: #323232;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: scale-down;
  border-radius: 10%;
}

bi bi-moon-stars {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-left: 50px;
  transform: translate(-50%, -50%);
}

.btn-custom {
  background-color: rgb(100, 43, 104) !important;
}

.carousel-item {
  margin-left: 250px;
}

h6 {
  text-align: center;
}
h1.titulo {
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 5rem;
  text-shadow: #573280;
  font-weight: 700;
}
.carousel-item {
  width: 100%;
  height: 400px;
}
.card {
  border-radius: 25px;
  font-family: 'Mulish', 'Helvetica Neue', Helvetica, sans-serif;
  background: #e072a38a;
  box-shadow: -4px -4px 9px #453f4237, 4px 4px 9px #7b6f7433;
}

.card-img-top {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  margin-top: 1rem;
}

.btn,
.btn-outline-primary:hover {
  color: rgb(227, 225, 229);
  transition: all 0.6s;
}
.btn-onix {
  background-color: #573280;
}
.btn-onix2 {
  color: #e8dbe5;
  background-color: #06292c;
  margin-left: 10px;
}

.btn-onix2:hover {
  background-color: #126168;
  color: #e8dbe5;
  transition: all 0.6s;
}

.btn-onix3 {
  background-color: #68252f;
}
.btn-onix3:hover {
  color: #e8dbe5;
  background-color: #951038;
  margin-left: 10px;
}

.btn-onix:hover {
  background-color: rgb(180, 23, 220);
  color: #fdfdfd;
  transition: all 0.6s;
  color: #fdfdfd;
}

.btn-finalcompra {
  color: #fdfdfd;
  background-color: #321044;
}
.btn-finalcompra:hover {
  color: #fdfdfd;
  background-color: #62178a;
  transition: all 0.6s;
}

.btn-outline-custom {
  color: #e8dbe5;
}

.datos-footer {
  margin-right: 0%;
  font-size: 0.8rem;
  text-align: center;
}

form {
  font-family: 'Mulish', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.img-fluid {
  height: auto;
  width: 400px 400px;
}

/*alta estilos*/

h1.titulo-alta {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}
.items-alta {
  font-size: 'Source Code Pro', Arial, sans-serif;
}
h3.titulo-alta3 {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}
.titulo-alta2 {
  font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;
}
table {
  font-family: 'Play', Arial, Helvetica, sans-serif;
  margin: auto;
}

th.tr-th {
  margin: 15px;
}

.btn-mode{
  background: none;
  border: none;
  color: black
}

/*modal*/

.modalb{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .1s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal-container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
}

.modal-title{
  font-size: 2.5rem;
  color: #20132f;
}

.modal-paragraph{
  margin-bottom: 10px;
  color: #20132f;
}

.modal-img{
  width: 90%;
  max-width: 300px;
}

.modal-close{
  text-decoration: none;
  color: #fff;
  background-color: #7713ac;
  padding: 1em 3em;
  border: 1px solid ;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}



.datos-footer {
  margin-right: 0%;
  font-size: 0.8rem;
  text-align: center;
}
