li.precio {
    font-weight: bold;
  }
  
  div.card {
    background-color: #ff6daf;
    border-color: #e072a38a;
  }
  
  .dark .card {
    background-color: rgb(67, 18, 42);
    color: #dbd6d6;
    border-color:rgb(67, 18, 42) ;
  }
  
  .dark header {
    background-color: #20132f;
  }
  
  .dark ul.fondo2 li {
    background-color:  rgb(67, 18, 42);
    color: #d9dfe8;
  }
  
  ul.fondo2 li {
    background-color: #ff6daf;
  }
  
  img.tarjetas {
    width: 65px;
  }
  .card-img-top {
    width: 200px 200px;
  }